body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #deeef5;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #082a69;
    color: #ffffff;
    padding-top: 39px;
    min-height: 79px;
    border-bottom: #fafbfc 3px solid;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 24px;
}

nav {
    background: #13151a;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: underline;
}

section {
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}

section h2 {
    color: #35424a;
    text-align: center;
}

.service-list, .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

/* Style des images des service, icones*/
.service-item {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(red, green, blue, alpha);
    text-align: center;
}

.service-item h3 {
    color: #35424a;
    font-size: 20px;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 16px;
    color: #555;
}
/* Style des icones*/
.service-item i {
    font-size: 40px;
    color: #0a1658;
    margin-bottom: 10px;
}

footer {
    background: #082a69;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
